<section class="py-[2.5rem]">
  <div class="flex flex-col md:flex-row">
    <!-- Left Content -->
    <div
      class="w-full md:w-2/5 flex flex-col gap-2 justify-center p-[1.5rem] md:p-[3.125rem]"
    >
      <p class="title text-sm font-normal leading-6 tracking-[2px]">
        CELEBRATE MOM WITH LOVE
      </p>
      <h3 class="w-full md:w-[80%] text-[1.5rem] md:text-[2rem] leading-snug">
        Embrace Boldness With Statement Style
      </h3>
      <p class="text-sm md:text-base">
        Step into summer with skirts and dresses that turn heads. From flowy
        silhouettes to playful prints, make every look unforgettable.
      </p>
      <a
        href="#!"
        class="btn bg-[#646464] text-[#FFFFFF] mt-[30px] md:mt-[40px] max-w-[10rem] md:max-w-[12rem] h-[45px] md:h-[52px] rounded-[100px] flex items-center justify-center text-sm md:text-base"
        >Shop now &nbsp <i class="fa-solid fa-arrow-right icon"></i
      ></a>
    </div>

    <!-- Right Images -->
    <div class="w-full md:w-3/5 grid grid-cols-2 gap-4 px-[1.5rem] md:px-0">
      <div class="flex-1">
        <img
          src="./assets/img/banner_5.jpg"
          alt="banner5"
          class="w-full h-full object-cover shadow"
        />
      </div>

      <div class="grid flex-1 grid-cols-1 gap-4 w-full">
        <img
          src="./assets/img/banner3.jpg"
          alt="banner3"
          class="w-full md:min-w-[400px] object-cover shadow w-full aspect-[4/3]"
        />
        <img
          src="./assets/img/banner_7.jpg"
          alt="banner7"
          class="w-full md:min-w-[400px] object-cover shadow w-full aspect-[4/3]"
        />
      </div>
    </div>
  </div>
</section>
