<section class="p-0 m-0">
  <div class="bg-[#101010] py-[50px] px-[20px]">
    <div
      class="grid grid-cols-1 md:grid-cols-[7fr_5fr] mx-0 md:mx-[150px] gap-6"
    >
      <!-- Left text -->
      <div class="flex flex-col text-center md:text-left">
        <p
          class="uppercase text-[0.96rem] font-normal tracking-[2px] text-white mb-3"
        >
          Unlock Special Deals
        </p>
        <p
          class="text-[28px] md:text-[32px] leading-[36px] md:leading-[42px] text-white"
        >
          Join Our Fashion Family for Special Offers
        </p>
      </div>

      <!-- Right form -->
      <div class="flex justify-center md:justify-end">
        <div
          class="flex items-center relative w-full max-w-[400px] rounded-[100px]"
        >
          <input
            placeholder="Enter your email"
            class="h-[52px] px-[24px] text-[12px] w-full rounded-[99px] border-none text-[1rem]"
          />

          <button
            class="h-[52px] absolute right-0 py-[12px] px-[24px] bg-[#b91c1b] rounded-[99px] border-none"
          >
            <span class="text-white text-[1rem]">Subscribe</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
