<section class="promote p-0 m-0">
  <div
    class="w-full bg-[#e8e8e8] rounded-lg overflow-hidden shadow-md relative"
  >
    <div class="h-[60px] flex items-center bg-[#e8e8e8] overflow-hidden">
      <div class="flex animate-[scroll_25s_linear_infinite] w-max">
        <div class="flex">
          <span
            class="promo-item px-4 text-sm md:px-8 text-gray-800 font-medium md:text-lg whitespace-nowrap"
            >Get 10% off your first order!</span
          >
          <span
            class="promo-item px-4 text-sm md:px-8 text-gray-800 font-medium md:text-lg whitespace-nowrap"
            >Seasonal promotions happening now!</span
          >
          <span
            class="promo-item px-4 text-sm md:px-8 text-gray-800 font-medium md:text-lg whitespace-nowrap"
            >Exclusive discounts available now!</span
          >
          <span
            class="promo-item px-4 text-sm md:px-8 text-gray-800 font-medium md:text-lg whitespace-nowrap"
            >Free shipping over $50!</span
          >
        </div>
        <div class="flex">
          <span
            class="promo-item px-4 text-sm md:px-8 text-gray-800 font-medium md:text-lg whitespace-nowrap"
            >Get 10% off your first order!</span
          >
          <span
            class="promo-item px-4 text-sm md:px-8 text-gray-800 font-medium md:text-lg whitespace-nowrap"
            >Seasonal promotions happening now!</span
          >
          <span
            class="promo-item px-4 text-sm md:px-8 text-gray-800 font-medium md:text-lg whitespace-nowrap"
            >Exclusive discounts available now!</span
          >
          <span
            class="promo-item px-4 text-sm md:px-8 text-gray-800 font-medium md:text-lg whitespace-nowrap"
            >Free shipping over $50!</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
