<section class="bg-[#f5f5f5] m-0">
  <div class="testimonials py-16 px-4">
    <!-- Heading -->
    <div class="text-center mb-12">
      <p
        class="text-center leading-[24px] font-normal tracking-[2px] font-normal text-[#171717] text-[14px]"
      >
        TESTIMONIALS
      </p>
      <p
        class="text-center leading-[42px] font-normal tracking-[2px] font-medium text-[#171717] text-[32px]"
      >
        Our Customers Reviews
      </p>
    </div>

    <!-- Swiper -->
    <div class="swiper swiperReview max-w-6xl mx-auto">
      <div class="swiper-wrapper">
        <!-- Slide -->
        <div
          class="swiper-slide min-h-[344px] p-6 flex flex-col justify-around items-center text-center"
        >
          <div>
            <div class="flex justify-center text-red-500 mb-3">
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p
              class="text-sm text-center leading-[24px] font-normal tracking-[2px] font-bold text-[#171717] text-[14px]"
            >
              It was light, breathable, and felt like it was made just for me. I
              could move freely, dance, sit on the grass, and still feel
              completely put-together.
            </p>
          </div>
          <div class="flex items-center justify-center">
            <img
              src="../assets/img/image.jpg"
              class="w-12 h-12 rounded-full object-cover"
            />
            <div class="ml-3 text-left">
              <p class="font-semibold text-gray-800">Emily R.</p>
              <p class="text-sm text-gray-500">From Australia</p>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div
          class="swiper-slide min-h-[344px] p-6 flex flex-col justify-around items-center text-center"
        >
          <div>
            <div class="flex justify-center text-red-500 mb-3">
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="text-gray-600 mb-6 max-w-md">
              The cut hugs my waist just right without being tight, and the
              flare adds a soft, feminine shape. Effortlessly chic!
            </p>
          </div>
          <div class="flex items-center justify-center">
            <img
              src="../assets/img/image-1.jpg"
              class="w-12 h-12 rounded-full object-cover"
            />
            <div class="ml-3 text-left">
              <p class="font-semibold text-gray-800">Sofia L.</p>
              <p class="text-sm text-gray-500">From Canada</p>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div
          class="swiper-slide min-h-[344px] p-6 flex flex-col justify-around items-center text-center"
        >
          <div>
            <div class="flex justify-center text-red-500 mb-3">
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="text-gray-600 mb-6 max-w-md">
              This dress gave me the best of both worlds. Soft, flowy, and
              timeless — perfect for brunch!
            </p>
          </div>
          <div class="flex items-center justify-center">
            <img
              src="../assets/img/image-2.jpg"
              class="w-12 h-12 rounded-full object-cover"
            />
            <div class="ml-3 text-left">
              <p class="font-semibold text-gray-800">Chloe M.</p>
              <p class="text-sm text-gray-500">United Kingdom</p>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div
          class="swiper-slide min-h-[344px] p-6 flex flex-col justify-around items-center text-center"
        >
          <div>
            <div class="flex justify-center text-red-500 mb-3">
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="text-gray-600 mb-6 max-w-md">
              This dress gave me the best of both worlds. Soft, flowy, and
              timeless — perfect for brunch!
            </p>
          </div>
          <div class="flex items-center justify-center">
            <img
              src="../assets/img/image-3.jpg"
              class="w-12 h-12 rounded-full object-cover"
            />
            <div class="ml-3 text-left">
              <p class="font-semibold text-gray-800">Chloe M.</p>
              <p class="text-sm text-gray-500">United Kingdom</p>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div
          class="swiper-slide min-h-[344px] p-6 flex flex-col justify-around items-center text-center"
        >
          <div>
            <div class="flex justify-center text-red-500 mb-3">
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star mr-1"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="text-gray-600 mb-6 max-w-md">
              This dress gave me the best of both worlds. Soft, flowy, and
              timeless — perfect for brunch!
            </p>
          </div>
          <div class="flex items-center justify-center">
            <img
              src="../assets/img/image-4.jpg"
              class="w-12 h-12 rounded-full object-cover"
            />
            <div class="ml-3 text-left">
              <p class="font-semibold text-gray-800">Chloe M.</p>
              <p class="text-sm text-gray-500">United Kingdom</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination Dots -->
      <div class="swiper-pagination mt-[2rem] relative"></div>
    </div>
  </div>
</section>
